@font-face {
    font-family: 'Haffer';
    src: url('./fonts/Haffer-TRIAL-Medium.ttf');
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Haffer", sans-serif;
  }
  
  :root{
    --offwhite: rgb(203, 203, 203);
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--offwhite);
    overflow: hidden;
  
  }
  
  button{
    border: none;
  }
  
  #upload-container{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items:flex-start;
    justify-content: left;
    flex-direction: column;
    width: auto;
    /* padding: 20px 20px; */
    border-radius: 20px;
  }
  
  .block{
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .dimensions{
    margin-bottom: 0;
  }
  
  .file-upload, #regenerate-button, button {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 12px;
    background-color: rgba(0, 0, 255, 0.3);
    /* border: 1px solid red; */
    color: rgb(0, 0, 255);
    width: 100px;
    text-align: left;
    transition: all 0.1s ease;
    margin-right: 10px;
  }
  
  .file-upload:hover,
  #regenerate-button:hover,
  button:hover{
    background-color: blue;
    color: white;
  }
  
  .color-picker-container{
    display: flex; 
    width: 100%;
    height: auto;
  }
  
  .color-box{
    width: 100%;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
  
  }
  
  .color-box:hover{
    border: 2px solid white;
  }
  
  .uploads .file-upload,
  #regenerate-button {
    width: 210px;
  }
  
  .play{
    margin-bottom: 100px;
  }
  
  
  #play-pause-button , .play .file-upload{
    color: rgb(243, 85, 85);
    background-color: rgba(255, 255, 255, 0.3);
    cursor: crosshair;
  }
  
  .message{
    opacity: 0;
    position: absolute;
    top: 55px;
    padding: 15px;
    border-radius: 12px;
    background-color: red;
    color: white;
    width: 210px;
  }
  
  .play:hover + .message{
    opacity: 1;
  }

  .file-upload{
    height: 100px;

  }