@font-face {
  font-family: 'Haffer';
  src: url('./fonts/Haffer-TRIAL-Medium.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Haffer", sans-serif;
}

:root{
  --offwhite: rgb(211, 211, 211);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--offwhite);
}

.container{
  position: absolute;
  top: 10px;
  left: 20px;
}

button{
  all: unset;
}

.block{
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 250px;
}

label {
  display: block;
}

label.file-upload {
  height: 88px; 
}

.item{
  display: flex;
  align-items: flex-start;
  background-color: rgba(0, 0, 255, 0.2);
  color: blue;
  border-radius: 12px;
  padding: 8px;
  text-align: left;
  height: 70px;
  width: 100%;
  transition: all 0.15s ease;
  cursor: pointer;
}

.item:hover{
  background-color: rgba(0, 0, 255, 1);
  color: white;
}

.play .item{
  background-color: rgba(255, 0, 255, 0.15);
  color: magenta;
}

.play .item:hover{
  background-color: rgba(255, 0, 255, 1);
  color: white;
}

.message{
  opacity: 0;
  background-color: red;
  color: white;
  position: absolute;
  bottom: -60px;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.15s ease;
}

.play:hover .message{
  opacity: 1;
}


.save .item{
  background-color: rgba(0, 218, 0, 0.35);
  color: green;
}

.save .item:hover{
  background-color: rgba(0, 218, 0, 1);
  color: white;
}

.how-to{
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
}

.how-to h3{
  margin-bottom: 20px;
}

.how-to p{
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.suggested-hashtags{
  color: rgba(0, 0, 0, 0.3);
}


#artist-name-input {
  width: 100%;
  padding: 8px;
  height: 70px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  resize: none; /* Prevent manual esizing */
  color: rgba(142, 142, 142, 1);;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* Preserve line breaks */
  background-color: rgba(142, 142, 142, 0.2);
}

::placeholder,
::-webkit-input-placeholder {
  color: rgba(142, 142, 142, 1);;
}

#color-theme-1{
  background-color: rgb(15, 15, 15);
  color: white;
}

#color-theme-2{
  color: white;
  background-color: #0f5bff;
}

#color-theme-3{
  color: rgb(15, 15, 15);
  background-color: #a8ffd6;
}

#color-theme-4{
  background-color: #ff532f;
  color: white;
}

#color-theme-5{
  background-color: #d9f583;
  color: black;
}


#color-theme-1:hover,
#color-theme-2:hover,
#color-theme-3:hover,
#color-theme-4:hover{
  transform: scale(0.9);
}


.record-settings{
  display: flex;
  flex-direction: column;
}

#recordBtn{
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  background-color: #ff522f52;
  color: #ff532f;
  height: auto;
}

#recordBtn:hover{
  background-color: #ff532f;
  color: white;
}

#statusIndicator{
  height: auto;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  color: white;
}

