@font-face {
  font-family: 'Haffer';
  src: url('./fonts/Haffer-TRIAL-Medium.ttf');
}

@font-face {
  font-family: 'Haffer-Regular';
  src: url('./fonts/Haffer-TRIAL-Regular.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Haffer-Regular", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

:root{
  --offwhite: rgb(211, 211, 211);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--offwhite);
  overflow: hidden;
}

canvas{
  margin-top: -10px;
}


.container{
  position: absolute;
  top: 10px;
  left: 20px;
  max-height: calc(100vh - 20px);
  overflow-y: scroll;
  background-color: white;
  border-radius:12px;
  padding: 20px 25px;
  padding-bottom: 10px;
}

section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  /* border: 1px solid red; */
  padding: 15px 0px;
}

section h3{
  width: 100%;
  font-size: 0.95rem;
  padding-bottom: 6px;
  margin-bottom: 2px;
  color: black;
  border-bottom: 1px solid black;
}

button{
  all: unset;
}

.block{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 250px;
}

label {
  display: block;
}

label.file-upload {
  height: 70px; 
}

.item{
  display: flex;
  align-items: flex-start;
  background-color: rgba(0, 0, 255, 0.15);
  color: blue;
  border-radius: 12px;
  padding: 8px;
  text-align: left;
  height: 30px;
  width: 100%;
  transition: all 0.15s ease;
  cursor: pointer;
  font-size: 0.95rem;
}

.item:hover{
  background-color: blue;
  color: white;
}

.file-imports .item{
  background-color: rgba(255, 0, 255, 0.15);
  color: magenta;
}

.file-imports .item:hover{
  background-color: rgba(255, 0, 255, 1);
  color: white;
}

.message{
  opacity: 0;
  /* background-color: red; */
  color: white;
  position: absolute;
  bottom: -60px;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.15s ease;
}

.file-imports:hover .message{
  opacity: 1;
}


.save .item{
  background-color: #9a2eff52;
  color: #8400ff;
}

.save .item:hover{
  background-color: #8400ff;
  color: white;
}

.how-to{
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(200,200,200);
  border-radius: 12px;
  padding: 20px;
}

.how-to h3{
  margin-bottom: 20px;
}

.how-to p{
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.suggested-hashtags{
  color: rgba(0, 0, 0, 0.3);
}

.how-to span{
  font-weight: bolder;
  font-family: 'Haffer';
  text-transform: uppercase;
}


#artist-name-input {
  width: 100%;
  padding: 8px;
  height: 70px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  resize: none; /* Prevent manual esizing */
  color: rgba(142, 142, 142, 1);;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* Preserve line breaks */
  background-color: rgba(142, 142, 142, 0.2);
}

::placeholder,
::-webkit-input-placeholder {
  color: rgba(142, 142, 142, 1);;
}

#color-theme-1{
  background-color: rgb(15, 15, 15);
  color: white;
}

#color-theme-2{
  color: white;
  background-color: #0f5bff;
}

#color-theme-3{
  color: rgb(15, 15, 15);
  background-color: #a8ffd6;
}

#color-theme-4{
  background-color: #ff532f;
  color: white;
}

#color-theme-5{
  background-color: #d9f583;
  color: black;
}

#color-theme-1,
#color-theme-2,
#color-theme-3,
#color-theme-4,
#color-theme-5{
  height: 50px;
}


#color-theme-1:hover,
#color-theme-2:hover,
#color-theme-3:hover,
#color-theme-4:hover,
#color-theme-5:hover{
  transform: scale(0.9);
}


.record-settings{
  display: flex;
  flex-direction: column;
}

#recordBtn{
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  background-color: #f01bff52;
  color: #f01bff;
  height: auto;
}

#recordBtn:hover{
  background-color: #f01bff;
  color: white;
}

#statusIndicator{
  height: auto;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  color: white;
  padding: 10px 0px;
  padding-bottom: 0px;
  height: calc(auto + 50px);
}

.layout-options-wrapper{
  display: flex;
  gap: 10px;
}


.dimensions .item{
  background-color: rgba(255, 130, 35, 0.15);
  color: rgb(255, 130, 35);
}

.dimensions .item:hover{
  background-color: rgb(255, 130, 35);
  color: white;
}

.overlay{
  display: none !important;
 
}

.canvas-size-wrapper .item,
.layout-options-wrapper .item{
  height: 50px;
}

.container.collapsed .content {
  display: none;
}

.container {
  transition: max-height 0.3s ease-out;
}

.container.collapsed {
  max-height: 65px;
  padding-bottom: 10px;
}

.toggle-wrapper{
  height: auto;
}

#toggleContainerBtn{
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 0.8rem;
  background-color: rgb(200,200,200);
  border-radius: 120px;
  cursor: pointer;
  width: auto;
  margin-bottom: 10px;
  transition: all 0.15s ease;
}

#toggleContainerBtn:hover{
  background-color: black;
  color: white;
}

.dimension-div{
  z-index: -100;
}



/* POP UP —————————————————————————————————————————————————————————————————————————————————————————— */

/* Style for the overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 50px;
  padding-top: 80px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  padding: 5px;
  cursor: pointer;
  width: 25px;
  font-size: 1rem;
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: rgb(220,220,220);
}

.popup-close-btn:hover {
  background-color: rgb(200,200,200);
}

.nxne-logo {
  display: block;
  margin: 0px auto 35px auto;
  max-width: 10%;
}
.popup-sentence {
  font-size: 0.95rem;
  line-height: 1.4rem;
  margin-bottom: 15px;
}

/* POP UP —————————————————————————————————————————————————————————————————————————————————————————— */











@media screen and (max-width: 1188px){

  .overlay-wrapper img{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 180px;
  }
  .overlay-wrapper h3{
    width: 250px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
  }

  .container.collapsed {
    width: 190px;
    padding-bottom: 10px;
  }

  .how-to{
    width: 200px;
    right: 10px;
  }

}

@media screen and (max-width: 976px) {
  .overlay{
    display: block !important;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    color: white;
  }

  .overlay-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  } 
}